//color

$white: #ffffff;

$black: #323232;

$silver: #afafaf;

$mercury: #e1e1e1;

$alabaster: #fafafa;

$instock-dark-blue: #002f5f;

$instock-blue: #004892;

$brainflix-dark-blue: #0065ad;

$brainflix-light-blue: #0095ff;

//bandsite
//navigation background fill
$bandsite_navigation-background-fill-black-32: #323232;

//primary cta
$bandsite_primary-cta-black-32: #323232;

//primary cta hover
$bandsite_primary-cta-hover-brainflix-blue: #0065ad;
